_backupoldfiles/MD5.py
_backupoldfiles/SHA1.py
_backupoldfiles/sin.txt
_backupoldfiles/b.py
__pycache__/window.cpython-37.pyc
__pycache__/mmm.cpython-37.pyc
__pycache__/b.cpython-37.pyc
__pycache__/MD5.cpython-37.pyc
__pycache__/HashLib.cpython-37.pyc
.vscode/settings.json
compile_mainwindow.lnk
/teste.py
/loop.json
/curr_loop.json
/wpf_visual/Visualiser/.vs
/wpf_visual/Visualiser/Visualiser/obj/Debug/TempPE
/wpf_visual/Visualiser/Visualiser/bin/Debug
/wpf_visual/Visualiser/Visualiser/obj/Debug
/wpf_visual/Visualiser/Visualiser/Visualiser.csproj.user
libs/__pycache__/HashLib.cpython-37.pyc
/__pycache__/window.cpython-37.pyc.66017088
*.pyc
